app/home.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css">
    <title>Adel</title>
  </head>
  <body>
    <div class="content-wrapper" id="contentWrapper">
      <div class="page-wrapper" id="pageWrapper">
        <header class="header">
          <div class="header__topline"></div>
        </header>
        <div class="uk-section">
          <div class="uk-container">
            <ul class="switcher-wrapper uk-grid-collapse" uk-switcher="" uk-grid>
              <li class="switcher-li uk-width-1-3"><a class="switcher-a" href="#">01 Customer info</a></li>
              <li class="switcher-li uk-width-1-3"><a class="switcher-a" href="#">02 Shipping info</a></li>
              <li class="switcher-li uk-width-1-3"><a class="switcher-a" href="#">03 Payment selection</a></li>
            </ul>
            <ul class="uk-switcher switcher-item">
              <li class="box">
                <div class="box-title">Customer information</div>
                <form class="box-form" id="form">
                  <div class="uk-grid-small" uk-grid>
                    <div class="box-input uk-width-1-2@l uk-width-1-1">
                      <label for="name">FIRST NAME</label>
                      <div class="uk-form-controls">
                        <input class="input uk-input" id="name" type="text" placeholder="FIRST NAME" name="name" pattern="[А-Яа-яЁёa-zA-Z ]+">
                      </div>
                    </div>
                    <div class="box-input uk-width-1-2@l uk-width-1-1">
                      <label for="second-name">SECOND NAME</label>
                      <div class="uk-form-controls">
                        <input class="input uk-input" id="second-name" type="text" placeholder="SECOND NAME">
                      </div>
                    </div>
                    <div class="box-input uk-width-1-1">
                      <label for="address">ADDRESS</label>
                      <div class="uk-form-controls">
                        <input class="input uk-input" id="address" type="text" placeholder="ADDRESS">
                      </div>
                    </div>
                    <div class="box-input uk-width-1-2@l uk-width-1-1">
                      <label for="country">COUNTRY</label>
                      <div class="uk-form-controls">
                        <input class="input uk-input" id="country" type="text" placeholder="COUNTRY">
                      </div>
                    </div>
                    <div class="box-input uk-width-1-2@l uk-width-1-1">
                      <label for="city">CITY</label>
                      <div class="uk-form-controls">
                        <input class="input uk-input" id="city" type="text" placeholder="CITY">
                      </div>
                    </div>
                    <div class="box-input uk-width-1-2@l uk-width-1-1">
                      <label for="postal-code">POSTAL CODE</label>
                      <div class="uk-form-controls">
                        <input class="input uk-input" id="postal-code" type="text" placeholder="POSTAL CODE">
                      </div>
                    </div>
                    <div class="box-input uk-width-1-2@l uk-width-1-1">
                      <label for="phone">PHONE</label>
                      <div class="uk-form-controls">
                        <input class="input uk-input mask" id="phone" type="text" placeholder="+3 8(0__)-__-__-___" name="phone" data-inputmask="'mask': '+3 8(099)-99-99-999'">
                      </div>
                    </div>
                    <div class="box-buttons uk-width-1-1">
                      <button class="box-disabled">Return to shop</button>
                      <button class="box-button">CONTINUE TO SHIPPING</button>
                    </div>
                  </div>
                </form>
              </li>
              <li class="secondItem">
                <div class="secondItem-title">Shipping information</div>
                <div class="secondItem-box uk-grid-collapse" uk-grid>
                  <div class="secondItem-box-left uk-width-1-2@l uk-width-1-1">
                    <ul class="secondItem-box-left-ul">
                      <li class="secondItem-box-left-li">Taras Shevchenko</li>
                      <li class="secondItem-box-left-li">Unit 2 Green Mount Park</li>
                      <li class="secondItem-box-left-li">Halifax</li>
                      <li class="secondItem-box-left-li">HX1 5QN</li>
                      <li class="secondItem-box-left-li">Phone: +3 8097 132-45-67</li>
                    </ul>
                    <div class="secondItem-box-left-buttons">
                      <button class="secondItem-box-left-button">Edit Address</button>
                      <button class="secondItem-box-left-button">Add New</button>
                    </div>
                  </div>
                  <div class="secondItem-box-right uk-width-1-2@l uk-width-1-1">
                    <div id="YMapsID"></div>
                  </div>
                </div>
                <div class="secondItem-subtitle">Shipping Method</div>
                <form class="secondItem-items" id="formRadio">
                  <div class="secondItem-items-left">
                    <label class="secondItem-items-label">
                      <input class="secondItem-items-input" type="radio" name="radio2"> Standart Delivery<span>Free</span>
                    </label>
                    <div class="secondItem-items-dsc">Freebie checkout form of the third step in sketchapp. Feel free to download and use it for your project.</div>
                  </div>
                  <div class="secondItem-items-right">
                    <label class="secondItem-items-label">
                      <input class="secondItem-items-input" type="radio" name="radio2"> Fast Delivery<span>8.00 uah</span>
                    </label>
                    <div class="secondItem-items-dsc">Freebie checkout form of the third step in sketchapp. Feel free to download and use it for your project.</div>
                  </div>
                  <div class="secondItem-buttons">
                    <button class="secondItem-prev" uk-switcher-item="previous">Back to Customer Info</button>
                    <button class="secondItem-continue">Continue to Payment</button>
                  </div>
                </form>
              </li>
              <li>
                <button class="secondItem-continue" uk-switcher-item="previous">BACK TO SHIPPING</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-wrapper" id="footerWrapper">
        <footer></footer>
      </div>
    </div>
    <script src="js/libs.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=861d01ed-8b7f-4f7f-ba0c-99754fae7e4d&amp;lang=ru_RU&amp;" type="text/javascript"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.inputmask.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>

app/pug/home.pug
extends blocks/_layout

append content
    .uk-section
        .uk-container
            ul.switcher-wrapper.uk-grid-collapse(uk-switcher='' uk-grid)
                li.switcher-li.uk-width-1-3
                    a.switcher-a(href='#') 01 Customer info
                li.switcher-li.uk-width-1-3
                    a.switcher-a(href='#') 02 Shipping info
                li.switcher-li.uk-width-1-3
                    a.switcher-a(href='#') 03 Payment selection
            ul.uk-switcher.switcher-item
                li.box
                    .box-title Customer information
                    form.box-form#form
                        .uk-grid-small(uk-grid)
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='name') FIRST NAME
                                .uk-form-controls
                                    input.input#name.uk-input(type='text' placeholder='FIRST NAME' name='name' pattern="[А-Яа-яЁёa-zA-Z ]+")
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='second-name') SECOND NAME
                                .uk-form-controls
                                    input.input#second-name.uk-input(type='text' placeholder='SECOND NAME')
                            .box-input.uk-width-1-1
                                label(for='address') ADDRESS
                                .uk-form-controls
                                    input.input#address.uk-input(type='text' placeholder='ADDRESS')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='country') COUNTRY
                                .uk-form-controls
                                    input.input#country.uk-input(type='text' placeholder='COUNTRY')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='city') CITY
                                .uk-form-controls
                                    input.input#city.uk-input(type='text' placeholder='CITY')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='postal-code') POSTAL CODE
                                .uk-form-controls
                                    input.input#postal-code.uk-input(type='text' placeholder='POSTAL CODE')
                            .box-input(class='uk-width-1-2@l uk-width-1-1')
                                label(for='phone') PHONE
                                .uk-form-controls
                                    input.input#phone.uk-input.mask(type='text' placeholder='+3 8(0__)-__-__-___' name='phone' data-inputmask="'mask': '+3 8(099)-99-99-999'")
                            .box-buttons.uk-width-1-1
                                button.box-disabled Return to shop
                                button.box-button CONTINUE TO SHIPPING
                li.secondItem
                    .secondItem-title Shipping information
                    .secondItem-box.uk-grid-collapse(uk-grid)
                        .secondItem-box-left(class='uk-width-1-2@l uk-width-1-1')
                            ul.secondItem-box-left-ul
                                li.secondItem-box-left-li Taras Shevchenko
                                li.secondItem-box-left-li Unit 2 Green Mount Park
                                li.secondItem-box-left-li Halifax
                                li.secondItem-box-left-li HX1 5QN
                                li.secondItem-box-left-li Phone: +3 8097 132-45-67
                            .secondItem-box-left-buttons
                                button.secondItem-box-left-button Edit Address
                                button.secondItem-box-left-button Add New
                        .secondItem-box-right(class='uk-width-1-2@l uk-width-1-1')
                            #YMapsID
                    .secondItem-subtitle Shipping Method
                    form.secondItem-items#formRadio
                        .secondItem-items-left
                            label.secondItem-items-label
                                input.secondItem-items-input(type='radio' name='radio2')
                                |  Standart Delivery
                                span Free
                            .secondItem-items-dsc Freebie checkout form of the third step in sketchapp. Feel free to download and use it for your project.
                        .secondItem-items-right
                            label.secondItem-items-label
                                input.secondItem-items-input(type='radio' name='radio2')
                                |  Fast Delivery
                                span 8.00 uah
                            .secondItem-items-dsc Freebie checkout form of the third step in sketchapp. Feel free to download and use it for your project.
                        .secondItem-buttons
                            button.secondItem-prev(uk-switcher-item='previous') Back to Customer Info
                            button.secondItem-continue Continue to Payment
                li
                    button.secondItem-continue(uk-switcher-item='previous') BACK TO SHIPPING
